<p id="notice"><%= notice %></p>

  <h1>Список турбаз</h1>


  <%= render partial: 'application/location_select'%>
  <table class="table camps-table">
    <thead>
      <tr>
        <th>id</th>
        <th>Страна</th>
        <th>Регион</th>
        <th>Город</th>
        <th>Название</th>
        <th>Описание</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @camps.each do |camp| %>
        <tr>

          <td><%= camp.id%></td>
          <td><%= camp.city.region.country.name %></td>
          <td><%= camp.city.region.name %></td>
          <td><%= camp.city.name %></td>
          <td><%= camp.name %></td>
          <td><%= camp.description %></td>
          <td><%= link_to 'Подробнее', camp %></td>
          <td><%= link_to 'Редактировать', edit_camp_path(camp) %></td>
          <td><%= link_to 'Удалить', camp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>

  <%= link_to 'Добавить новую турбазу', new_camp_path %> <br>

