<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @camp.name %>
</p>

<p>
  <strong>Описание:</strong>
  <%= @camp.description %>
</p>

<p>
  <strong>Город:</strong>
  <%= @camp.city.name %>
</p>

<%= link_to 'Редактировать', edit_camp_path(@camp) %> |
<%= link_to 'Назад', camps_path %>
