

  <p id="notice"><%= notice %></p>

  <h1></h1>

    <div class="col-md-6">
      <p>
        <strong>Название:</strong>
        <%= @camp.name %>
      </p>


      <p>
        <strong>Описание:</strong> </br>
        <%= @camp.description %>
      </p>



      <p>
        <strong>Город:</strong>
        <%= @camp.city.name %>
      </p>


    <%= link_to 'Редактировать', edit_camp_path(@camp) %> |
    <%= link_to 'Назад', camps_path %>

  </div>
