<%= form_with(model: country, local: true) do |form| %>
  <% if country.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(country.errors.count, "error") %> К сожаление, сохранить записиь не удалось, попробуйте ещё::</h2>

      <ul>
      <% country.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Название" %>
    <%= form.text_field :name, id: :country_name %>
  </div>

  <div class="actions">
    <%= form.submit :"Готово" %>
  </div>
<% end %>
