<p id="notice"><%= notice %></p>


  <h1>Список стран</h1>

  <table class = "table">
    <thead>
      <tr>
        <th>Страна</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @countries.each do |country| %>
        <tr>
          <td><%= country.name %></td>
          <td><%= link_to 'Подробнее', country %></td>
          <td><%= link_to 'Редатировать', edit_country_path(country) %></td>
          <td><%= link_to 'Удалить', country, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <%= link_to 'Добавить Страну', new_country_path %>
