<%= form_with(model: city, local: true) do |form| %>
  <% if city.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(city.errors.count, "error") %> К сожаление, сохранить записиь не удалось, попробуйте ещё::</h2>

      <ul>
      <% city.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Название" %>
    <%= form.text_field :name, id: :city_name %>
  </div>

  <div class="field">
    <%= form.label "Регион" %>
    <%= form.collection_select :region_id, regions, :id, :name%>

  </div>

  <div class="actions">
    <%= form.submit :"Готово" %>
  </div>
<% end %>
