<p id="notice"><%= notice %></p>


  <h1>Список городов</h1>

  <table class = "table">
    <thead>
      <tr>
        <th>Регион</th>
        <th>Город</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @cities.each do |city| %>
        <tr>
          <td><%= city.region.name %></td>
          <td><%= city.name %></td>
          <td><%= link_to 'Подробнее', city %></td>
          <td><%= link_to 'Редактировать', edit_city_path(city) %></td>
          <td><%= link_to 'Удалить', city, method: :delete, data: { confirm: "Вы уверены?
Удаление данной записи повлечёт за собой удаление всех связанных записей (городов, турбаз) "} %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Добавить город', new_city_path %>
