<%= form_with(model: region, local: true) do |form| %>
  <% if region.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(region.errors.count, "error") %> К сожаление, сохранить записиь не удалось, попробуйте ещё::</h2>

      <ul>
      <% region.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Название" %>
    <%= form.text_field :name, id: :region_name, :required=>"", :class =>"form-control" %>
  </div>

  <div class="field">
    <%= form.label "Страна" %>
    <%= form.collection_select :country_id, countries, :id, :name, {}, {:class =>"form-control"}%>
  </div>
  </br>
  <div class="actions" align="right">
    <%= form.submit :"Готово" %>
  </div>
<% end %>
