<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @region.name %>
</p>

<p>
  <strong>Страна:</strong>
  <%= @region.country.name %>
</p>

<%= link_to 'Редактировать', edit_region_path(@region) %> |
<%= link_to 'Назад', regions_path %>
